# General router settings

/system clock {
  set time-zone-autodetect=yes
}

/system ntp client {
  set enabled=yes primary-ntp=0.0.0.0 secondary-ntp=0.0.0.0 \
    server-dns-names=time.google.com
}

/system routerboard settings {
  set auto-upgrade=yes
}

/ip dns {
  set servers=8.8.8.8,8.8.4.4,2001:4860:4860::8888,2001:4860:4860::8844 \
    allow-remote-requests=no
}

/ip dns static {
  remove [ find ]
}

/ip neighbor discovery-settings {
  set discover-interface-list=!dynamic
}

/ip cloud {
  set ddns-enabled=yes update-time=no
}

/ip service {
  set telnet disabled=yes
  set ftp disabled=yes
  set api disabled=yes
  set api-ssl disabled=yes
  set www disabled=yes
}

/ip ssh {
  set always-allow-password-login=no strong-crypto=yes forwarding-enabled=local
}

/ip socks {
  set enabled=no
}

/ip proxy {
  set enabled=no
}

/ip upnp {
  set enabled=no
}

/interface detect-internet {
  set detect-interface-list=none lan-interface-list=none \
    wan-interface-list=none internet-interface-list=none
}

/tool mac-server {
  set allowed-interface-list=none
  ping set enabled=no
  mac-winbox set allowed-interface-list=all
}

/tool bandwidth-server {
  set enabled=no
}
