# Firewall from default configuration

/ip firewall filter {
  remove [ find where !dynamic ]

  add chain=input action=accept connection-state=established,related,untracked \
    comment="accept established,related,untracked"
  add chain=input action=drop connection-state=invalid comment="drop invalid"
  add chain=input action=accept protocol=icmp comment="accept ICMP"
  add chain=input action=accept dst-address=127.0.0.1 comment="accept to local loopback (for CAPsMAN)"
  add chain=input action=drop in-interface-list=!LAN comment="drop all not coming from LAN"

  add chain=forward action=fasttrack-connection connection-state=established,related comment="fasttrack"
  add chain=forward action=accept connection-state=established,related,untracked \
    comment="accept established,related, untracked"
  add chain=forward action=accept ipsec-policy=in,ipsec comment="accept in ipsec policy"
  add chain=forward action=accept ipsec-policy=out,ipsec comment="accept out ipsec policy"
  add chain=forward action=drop connection-state=invalid comment="drop invalid"
  add chain=forward action=drop connection-state=new connection-nat-state=!dstnat in-interface-list=WAN \
    comment="drop all from WAN not DSTNATed"
}
