# DHCP server

/ip pool {
  remove [ find ]
  add name=pool-ipv4 ranges=192.168.100.100-192.168.100.254
}

/ip dhcp-server {
  config set store-leases-disk=never
  
  remove [ find ]
  add name=dhcp-ipv4 interface=bridge1 address-pool=pool-ipv4 disabled=no

  network {
    remove [ find ]
    add address=192.168.100.0/24 dns-server=8.8.8.8,8.8.4.4 \
      gateway=192.168.100.1 netmask=24
  }

  lease {
    remove [ find where !dynamic ]
  }
}

/ipv6 dhcp-server {
  remove [ find ]
}
