# DHCP client

/ip dhcp-client {
  remove [ find ]
  add interface=sfp28-2 add-default-route=yes use-peer-dns=no disabled=yes
}

/ipv6 dhcp-client {
  remove [ find ]
  add interface=sfp28-2 add-default-route=yes use-peer-dns=no \
    request=address,prefix \
    pool-name=pool-ipv6 pool-prefix-length=56 disabled=yes
}
