# Firewall

/interface list {
  remove [ find where !dynamic && !builtin ]

  add name=wan
  add name=lan

  member {
    remove [ find ]
    add interface=sfp28-2 list=wan
    add interface=bridge1 list=lan
    add interface=lo list=lan
  }
}

/ip firewall filter {
  remove [ find where !dynamic ]

  add chain=forward connection-state=established,related action=fasttrack-connection
  add chain=forward connection-state=established,related action=accept
  add chain=forward in-interface-list=lan action=accept
  add chain=forward in-interface-list=wan connection-nat-state=dstnat action=accept
  add chain=forward action=drop

  add chain=input connection-state=established,related action=accept
  add chain=input in-interface-list=lan action=accept
  add chain=input protocol=icmp action=accept
  add chain=input protocol=tcp dst-port=22 action=accept
  add chain=input action=drop
}

/ipv6 firewall filter {
  remove [ find where !dynamic ]

  add chain=forward connection-state=established,related action=fasttrack-connection
  add chain=forward connection-state=established,related action=accept
  add chain=forward in-interface-list=lan action=accept
  add chain=forward protocol=icmpv6 action=accept
  add chain=forward action=drop

  add chain=input connection-state=established,related action=accept
  add chain=input in-interface-list=lan action=accept
  add chain=input protocol=icmpv6 action=accept
  add chain=input protocol=tcp dst-port=22 action=accept
  add chain=input protocol=udp port=33434-33534 action=accept \
    comment="UDP traceroute"
  add chain=input protocol=udp dst-port=546 src-address=fe80::/16 action=accept \
    comment="DHCPv6-Client prefix delegation"
  add chain=input action=drop
}

/ip firewall service-port {
  set [ find where name!=udplite && name!=dccp && name!=sctp ] disabled=yes
}
