{% include 'peanut/identity.rsc.j2' %}
{% include 'peanut/led-notifications.rsc.j2' %}
{% include 'common/common.rsc.j2' %}
{% include 'common/auto-upgrade.rsc.j2' %}
{% include 'common/security-profiles.rsc.j2' %}
{% include 'peanut/wireless.rsc.j2' %}
{% include 'peanut/routing.rsc.j2' %}
{% include 'peanut/sstp-client.rsc.j2' %}
{% include 'peanut/dhcp.rsc.j2' %}
{% include 'peanut/firewall.rsc.j2' %}
{% include 'peanut/traffic-shaping.rsc.j2' %}
