# DHCP

/ip pool
  remove [ find ]
  add name=pool1 ranges=192.168.101.100-192.168.101.254
  add name=guest-pool1 ranges=192.168.102.100-192.168.102.254

/ip dhcp-server
  remove [ find ]
  add name=dhcp1 interface=bridge3 address-pool=pool1 disabled=no
  add name=dhcp2 interface=bridge4 address-pool=guest-pool1 disabled=no

/ip dhcp-server config
  set store-leases-disk=never

/ip dhcp-server network
  remove [ find ]
  add address=192.168.101.0/24 dns-server=8.8.8.8,8.8.4.4 \
    gateway=192.168.101.1 netmask=24
  add address=192.168.102.0/24 dns-server=8.8.8.8,8.8.4.4 \
    gateway=192.168.102.1 netmask=24

/ip dhcp-client
  remove [ find ]
  add interface=bridge1 use-peer-dns=no disabled=no
