# Routing

/interface bridge {
  remove [ find ]
  add name=bridge1
}

/interface bridge settings {
  set use-ip-firewall=no
}

/interface bridge port {
  remove [ find ]
  add bridge=bridge1 interface=ether1
  add bridge=bridge1 interface=wlan1
  add bridge=bridge1 interface=wlan2
}

/ip address {
#  add interface=ether1 address=192.168.100.4/24
  remove [ find invalid ]
  remove [ find interface!=ether1 ]
}

/ip route {
  remove [ find where static ]
  add gateway=192.168.100.1
}
