# Wireless interfaces

/interface wifiwave2 channel {
  remove [ find ]
  add name=channel-2ghz frequency=2412,2437,2462 band=2ghz-ax width=20mhz
  add name=channel-5ghz band=5ghz-ax width=20/40/80mhz skip-dfs-channels=all
}

/interface wifiwave2 configuration }
  remove [ find ]
  add name=default mode=ap country=Switzerland antenna-gain=12
}

/interface wifiwave2 {
  # Real wifi1 antenna gain is 4.5

  set [ find default-name=wifi1 ] disabled=no \
    configuration=default channel=channel-5ghz

  # Real wifi2 antenna gain is 4

  set [ find default-name=wifi2 ] disabled=no \
    configuration=default channel=channel-2ghz
}
