{% include 'identity.rsc.j2' %}
{% include '../common/common.rsc.j2' %}
{% include '../common/auto-upgrade.rsc.j2' %}
{% include '../common/no-firewall.rsc.j2' %}
{% include '../common/default-access-control.rsc.j2' %}
{% include 'routing.rsc.j2' %}
{% include 'wireless.rsc.j2' %}
{% include '../common/wireless-configuration.rsc.j2' %}
