# Wireless

/interface wireless {
  :local guestWiFiDisabled yes
  :if ([ :len [ find name=wlan1a disabled=no ] ] > 0) do={ :set $guestWiFiDisabled no }
  remove [ find where interface-type=virtual ]

  # Real wlan1 antenna gain is 2.5, minimum for Switzerland is 3

  set [ find default-name=wlan1 ] disabled=no \
    ssid=ragnarok mode=ap-bridge security-profile=default \
    band=2ghz-g/n wireless-protocol=802.11 channel-width=20mhz \
    antenna-gain=11 frequency=auto scan-list=2412,2437,2462 \
    country=switzerland frequency-mode=regulatory-domain \
    installation=indoor distance=indoors \
    wps-mode=disabled wmm-support=enabled

  # Real wlan2 antenna gain is 2

  set [ find default-name=wlan2 ] disabled=no \
    ssid=ragnarok5 mode=ap-bridge security-profile=default \
    band=5ghz-a/n/ac wireless-protocol=802.11 channel-width=20/40/80mhz-XXXX \
    antenna-gain=10 frequency=auto \
    country=switzerland frequency-mode=regulatory-domain \
    installation=indoor distance=indoors skip-dfs-channels=10min-cac \
    wps-mode=disabled wmm-support=enabled

  add name=wlan1a master-interface=wlan1 disabled=$guestWiFiDisabled \
    ssid=perkunas security-profile=guest default-forwarding=no

  add name=wlan2a master-interface=wlan2 disabled=$guestWiFiDisabled \
    ssid=perkunas security-profile=guest default-forwarding=no
}
