# Auto scheduled version upgrade

/system script
  remove [ find name=auto-upgrade ]
  add name=auto-upgrade source=\
    "/system package update; \
    set channel=stable; \
    check-for-updates once; \
    :delay 3s; \
    :if ([ get status ] = \"New version is available\") do={ install }"

/system scheduler
  remove [ find name=scheduled-system-upgrade ]
  add name=scheduled-system-upgrade start-time=06:00:00 interval=1w on-event=auto-upgrade
