{% include 'ragnarok/identity.rsc.j2' %}
{% include 'common/common.rsc.j2' %}
{% include 'common/auto-upgrade.rsc.j2' %}
{% include 'ragnarok/dhcp-client.rsc.j2' %}
{% include 'ragnarok/routing.rsc.j2' %}
{% include 'ragnarok/firewall.rsc.j2' %}
{% include 'ragnarok/nat.rsc.j2' %}
{% include 'ragnarok/dhcp-server.rsc.j2' %}
