# Access control

/ip kid-control
  remove [ find ]

/ip kid-control device
  remove [ find ]

/interface wireless access-list
  remove [ find ]
{%- for rule in access_list %}
  {%- for time in rule.times %}
  add mac-address={{ rule.mac_address }} comment="{{ rule.comment }}" \
    authentication=no forwarding=no time={{ time }}
  {%- endfor %}
{%- endfor %}
