# Access control

/ip kid-control
  remove [ find ]
  add name=Marija mon=8h-21h tue=8h-21h wed=8h-21h thu=8h-21h fri=8h-21h sat=9h-21h sun=9h-20h
  add name=Kotryna mon=8h-21h tue=8h-21h wed=8h-21h thu=8h-21h fri=8h-21h sat=9h-21h sun=9h-20h
/ip kid-control device
  remove [ find ]
  add user=Marija name="Marijos iPad" mac-address=78:67:D7:B6:78:B7
  add user=Kotryna name="Kotrynos iPad" mac-address=78:67:D7:B4:58:18
