# SSTP server and tunnel setup

/interface sstp-server server
  set enabled=yes certificate=server verify-client-certificate=yes

/ppp secret
  remove [ find service=sstp ]
  {%- for user in sstp_configuration.users %}
  add service=sstp name="{{ user.name }}" password="{{ user.password }}" \
    local-address={{ user.local_address }} remote-address={{ user.remote_address }}
  {%- endfor %}

/interface eoip
  remove [ find ]
  {%- for user in sstp_configuration.users %}
  add name=eoip-tunnel{{ loop.index }} tunnel-id={{ loop.index0 }} \
    local-address={{ user.local_address }} remote-address={{ user.remote_address }}
  {%- endfor %}

/interface bridge port
  {%- for user in sstp_configuration.users %}
  add bridge=bridge1 interface=eoip-tunnel{{ loop.index }}
  {%- endfor %}
